task 1

In [7]:
prices = [1200, 850, 4300, 2999, 1500, 850]
totalprices=len(prices)
print("total prices:",totalprices)
averageprices=sum(prices)/totalprices
print("average prices:",averageprices)

above_prices=[]
for price in prices:
  if price > 2000:
    above_prices.append(price)
  print("above prices:",above_prices)

  prices.sort(reverse=True)
  print("sorting prices in descending:",prices)

total prices: 6
average prices: 1949.8333333333333
above prices: []
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]
above prices: [2999]
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]
above prices: [2999]
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]
above prices: [2999]
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]
above prices: [2999]
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]
above prices: [2999]
sorting prices in descending: [4300, 2999, 1500, 1200, 850, 850]

task 2

In [8]:
locations = [
    (24.8607, 67.0011),
    (31.5204, 74.3587),
    (33.6844, 73.0479)
]
# List of coordinate tuples
locations = [
    (24.8607, 67.0011),
    (31.5204, 74.3587),
    (33.6844, 73.0479)
]


print("Coordinate Pairs:")
for loc in locations:
    print(loc)


latitudes = []

for loc in locations:
    latitudes.append(loc[0])

print("Latitude List:", latitudes)
count = len(locations)
print("Total Coordinate Pairs:", count)

Coordinate Pairs:
(24.8607, 67.0011)
(31.5204, 74.3587)
(33.6844, 73.0479)
Latitude List: [24.8607, 31.5204, 33.6844]
Total Coordinate Pairs: 3

task 3

In [1]:
python_students = {"Ali", "Sara", "Ahmed", "Zain"}
ml_students = {"Sara", "Hassan", "Ali", "Fatima"}

both_courses = python_students & ml_students
print("Students enrolled in both courses:", both_courses)

only_python = python_students - ml_students
print("Students enrolled only in Python:", only_python)

master_students = python_students | ml_students
print("Master student set:", master_students)

ml_students.add("Bilal")
print("Updated ML students:", ml_students)

if "Ali" in master_students:
    print("Ali is in the master student list.")

Students enrolled in both courses: {'Ali', 'Sara'}
Students enrolled only in Python: {'Zain', 'Ahmed'}
Master student set: {'Ahmed', 'Hassan', 'Fatima', 'Zain', 'Ali', 'Sara'}
Updated ML students: {'Bilal', 'Hassan', 'Fatima', 'Ali', 'Sara'}
Ali is in the master student list.

TASK 4

In [2]:
employees = {
    "E01": {"name": "Ali", "salary": 60000},
    "E02": {"name": "Sara", "salary": 75000},
    "E03": {"name": "Ahmed", "salary": 50000}
}

# Print all employee IDs
print("Employee IDs:")
for emp_id in employees:
    print(emp_id)

# Calculate total payroll
total_payroll = 0
for emp_id in employees:
    total_payroll += employees[emp_id]["salary"]

print("Total Payroll:", total_payroll)

# Identify employees earning above 60000
high_earners = []
for emp_id in employees:
    if employees[emp_id]["salary"] > 60000:
        high_earners.append(employees[emp_id]["name"])

print("Employees earning above 60000:", high_earners)

# Add a new employee record
employees["E04"] = {"name": "Zain", "salary": 68000}

print("Updated Employees:", employees)

Employee IDs:
E01
E02
E03
Total Payroll: 185000
Employees earning above 60000: ['Sara']
Updated Employees: {'E01': {'name': 'Ali', 'salary': 60000}, 'E02': {'name': 'Sara', 'salary': 75000}, 'E03': {'name': 'Ahmed', 'salary': 50000}, 'E04': {'name': 'Zain', 'salary': 68000}}

task 5

In [3]:
sales_data = {
    "electronics": [
        ("Laptop", 120000, 3),
        ("Mouse", 1500, 10)
    ],
    "clothing": [
        ("Shirt", 2500, 5),
        ("Shoes", 5000, 2)
    ]
}

revenue_summary = {}
unique_products = set()

for category in sales_data:
    total_revenue = 0

    for product_name, price, quantity in sales_data[category]:
        total_revenue += price * quantity
        unique_products.add(product_name)

    revenue_summary[category] = total_revenue

print("Revenue Report")
print("----------------------")

for category in revenue_summary:
    print(f"{category.capitalize()} Revenue: {revenue_summary[category]}")

print("----------------------")
print("Unique Products:", unique_products)

Revenue Report
----------------------
Electronics Revenue: 375000
Clothing Revenue: 22500
----------------------
Unique Products: {'Shirt', 'Shoes', 'Mouse', 'Laptop'}